@{
    ViewData["Title"] = "Admin Home";
}
<! -- This is the AdminIndex.cshtml file for administrators -->
<div class="welcome-box">
    <h1>Greetings, Administrator - Admin!</h1>
    <p>Enjoy your work.</p>
</div>