@{
    ViewData["Title"] = "Home Page";
}
<! -- This is the UserIndex.cshtml file for authenticated users -->
<div class="welcome-box">
    <h1>Welcome, @User.Identity.Name!</h1>
    <p>Librarians wishes you an exciting experience.</p>
</div>