@model IEnumerable<LibraryProjectModule12.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "My Events";
}

<h2 class="text-center mb-4">My Events</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        You don't have any events yet.
        <a asp-action="All">Browse events</a>
    </div>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Date.ToString("dd-MMM-yy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}
